<div  class="container">
  <app-current-movies-carousel></app-current-movies-carousel> 
</div>

<!-- <div  id="c2" class="container">
  <app-popular-movie-carousel></app-popular-movie-carousel> 
</div> -->

<app-continue-carousel></app-continue-carousel>
<app-popular-movie-carousel></app-popular-movie-carousel> 
<app-top-movies-carousel></app-top-movies-carousel>
<app-trend-movies-carousel></app-trend-movies-carousel>

<app-popular-tv-carousel></app-popular-tv-carousel>
<app-top-tv-carousel></app-top-tv-carousel>
<app-trend-tv-carousel></app-trend-tv-carousel>