/*css*/



html,body{margin:0;padding:0;
}

a{
	color: 	#0000FF;
	text-decoration: none;
}
a:visited {
	color: purple;
}

#title {	

	width: 850px;
	font-family: Georgia, serif;
	text-align: center;
	font-size: 45px;
	font-weight: bold;
	color: rgb(0,0,150);
	margin-left: 200px;
	margin-right: 50px;
	
	
	padding-top: 20px;
	padding-bottom: 20px;
	height: 30px;


}

#navbar {
	width:2000px;
	color: rgb(0,0,200);
	text-align: left;
	height:45px;
	background-color: rgb(248,231,206);



}

ul {
	position: static;
	list-style-type: none;
    padding: 1px;
    border: 0px;
}

li {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 21px;
	display: inline-block;

}

#nav{
	margin-left:80px;
}



#photo {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(img/restaurant.jpg);
	width: 1000px;
	height: 500px;

	margin-left: 100px;
	margin-right: 500px;
	margin-top: 40px;
	overflow-x: hidden;
}

h2{
	display: block;
	position: absolute;
	margin-left:200px;
    margin-top: 160px;

	text-align: center;
	font-size: 55px;
	color: white;
	font-family: serif;
	min-width: 800px;
}

button {
	font-size: 11px;
	font-family: sans-serif;
	min-width:150px;
	height:35px;
	display: block;
	margin-left:500px;
    margin-top: 100px;
    padding-left: 5px;
    padding-right: 5px;
    
    border-width: 3px;
    border-style: double;
    border-color: black;
    pointer-events:none;
}

#caption {
	width:450px;
	color:purple;
	display: block;
	margin-top: 30px; 
	margin-bottom: 50px;
	height: 30px;
	position: block;
	font-size: 30px;
	font-weight: bolder;
	font-family:Comic Sans MS;
	padding-left: 400px;
	text-decoration:underline purple double;
}


.item {
	height: 353.767px;
	margin-bottom: 45px;
	min-width:1200px;


}

.pic {
	width: 480px;
	height:320px;
	display: inline-block;
	border-style:solid; 
	border-width:15px; 
	border-color:rgb(250,222,220);
	
	margin-left: 100px;


}


.intro {
	position: absolute;

	width: 480px;
	height: 320px;
	display: inline-block;
	

	
	font-family:Georgia, serif; 
	font-size:16px;
	color: black;
	padding-left: 100px;
	padding-top: 100px;
	
	
	
}




img{
	width: 480px;
	height:320px;
}




.title {
	display: block;
	font-family: Georgia, serif;
	font-size:16px;
	color: #0047b3;
	font-weight: bold;
}



.pic2 {
	width: 480px;
	height:320px;
	display: inline-block;
	border-style:solid; 
	border-width:15px; 
	border-color:rgb(158,207,219);
	margin-left: 610px;

}


.intro2 {
	position: absolute;

	width: 480px;
	height: 320px;
	display: inline-block;

	font-family:Georgia, serif; 
	font-size:16px;
	color: black;
	padding-left: 100px;
	padding-top: 100px;
		
}







