

.footer {
    margin-top: 5%;
	text-align: center;
	background-color: #dddddd;
	padding-top: 2px;
    font-weight: normal;
    color: white;
    height: 30px;
    background-color: rgb(5, 9, 27);
}

  
  .navbar-brand {
      color:white;
  }
  
  nav{
      background-color:  rgb(5, 9, 27);
     
  }



#search_input {
outline:none;
background: transparent;
border: none;
border-radius: 0;

border-bottom-style: solid;
border-bottom-width:thin;
border-bottom-color: white;
color: white;

}
 
  

:host ::ng-deep.dropdown-menu{
    background-color:rgb(7,8,43);
    
}
:host ::ng-deep.dropdown-item {
    color: white;
}