<nav class="navbar navbar-dark navbar-expand-lg">
  <a class="navbar-brand" routerLink="/">USC Films</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#togger_bar" aria-controls="togger_bar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"  id="togger_bar">
    <ul class="navbar-nav ">
      <li class="nav-item  ml-auto">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item ml-auto">
        <a class="nav-link" routerLink="/mylist">My List</a>
      </li>  
    </ul>
    <!-- <form id="search_form" class="ml-auto">
      <input  type="text" class="form-control mx-sm-3" [class.is-invalid]="searchFailed" [(ngModel)]="model" [ngbTypeahead]="search"id="search_input" type="text" class="form-control mr-sm-2" [(ngModel)]="model" [ngbTypeahead]="search" placeholder="Search" aria-label="Search">
    </form> -->


    <ng-template #rt let-r="result" let-t="term" >
      <div (click)="handler_clickitem(r.media_type, r.id)">
        <img [src]= "r['backdrop_path']" class="mr-1" style="width: 80px; padding:3px;">
        <ngb-highlight [result]="r.name" [term]="t" style="margin-left: 20px;"></ngb-highlight>
      </div>
    </ng-template>

   <div id="search_form" class="ml-auto">
      <input id="search_input" [inputFormatter]="formatter" class="ml-auto " [(ngModel)]="model" [ngbTypeahead]="search"  [resultTemplate]="rt" type="text"  placeholder="Search"  />
   </div> 
  
  </div>

  

</nav>




<router-outlet></router-outlet>

<!-- always on the bottom -->


<div class="row ">
  <!--  -->
  <div class="col footer "> 
    Powered by TMDB. Developed by Wei Xin.
  </div>
</div>


