
<div  *ngIf="has_records" class="container-fluid">
  <h1>Continue Watching</h1>
  

  <div class="carousel_6">
    <ngb-carousel  id="carouselExampleControls">
      <ng-template ngbSlide *ngFor="let item of items">
      
        <div class="row "> 
          <div class="poster col-lg-2 col-md-3 col-small-12" *ngFor="let obj of item">
            <a [routerLink]=" 'watch/' + obj['type'] + '/' + obj['id']"  >
              <div class="picsum-img-wrapper ">
                <img [src]="obj['poster_path']" >
              </div> 
            </a>   

            <div class="intro carousel-caption ">
              <h5>{{obj['title']}}</h5>
            </div>     

          </div>
        </div>

        
      </ng-template>
    
    </ngb-carousel>

    

    <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item active"  *ngFor="let item of items">
              <div class="row"> 
                  <div class="col-lg-2 col-md-3 col-small-12" *ngFor="let obj of item">
                      <a href="#"><img [src]="obj['poster_path']" alt=""/></a>
                  </div>    
                  
              </div>
          </div>

          
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
  </div>  -->


  </div>



</div>

